{{!-- Going to remove the current users information since they cant friend themself --}}
{{#if (check_id session_id id)}}
{{else}}

<br>
<div class="container">
    <div class="card text-center">
        <div class="card-header friend-name">
            {{first_name}} {{last_name}} 
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <img class="user-image" src="https://media.giphy.com/media/ZO8upuwNKfpm0/giphy.gif">
                </div>
                <div class="col-sm">
                    <div class="card-body">
                        <ul class="friend-interests">
                            {{#each interests as |interest|}}
                            <li class="badge bg-primary interest-badge">{{interest_name}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-sm">
                    <br>
                    <button class="btn btn-primary add-friend" data-name="{{first_name}} {{last_name}}"
                        data-id="{{id}}" data-user ="{{session_id}}">Add Friend <i class="fas fa-user-plus"></i></button>
                    <br>
                    <p class="friend-id">{{id}} (will be hidden)</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}