<div class="card text-center">
    <div class="card-header">
        <h4>{{first_name}} {{last_name}}</h4>
    </div>
    <div class="card-body">
        {{#if image_path}}
        <img class="user-image-large justify-content-center" src={{image_path}}> <br>
        {{else}}
        <img class="user-image-large justify-content-center"
            src="https://media.giphy.com/media/ZO8upuwNKfpm0/giphy.gif"> <br>
        {{/if}}
        <br>
        <div class="d-grid gap-2 col-3 mx-auto">
            <h5>{{first_name}} {{last_name}}'s Interests:</h5>
            {{#each interests as |interest|}}
            <button class="btn btn-primary">{{interest_name}}</button>
            {{/each}}
        </div>
    </div>


    <div class="card-footer text-muted">
    </div>
</div>