<main class="container my-3">
  <div class="row">

    <div class="col-md-8 col-sm-10">
      <div class="row">
        <div class="col-5">
          <img class="img-fluid img-thumbnail" src="{{photo}}" alt="Picture of {{name}}" />
          <h1 class="card-title border-bottom border-4">{{name}}</h1>
        </div>
        <div class="col-7">
          <p>{{userDescription}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="float-start me-2">
            <!-- Trigger/Open The Modal -->
            <button id="add-interest">Add Interest</button>

            <!-- The Modal -->
            <div id="interest-popup" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <ul class="list-group list-group-flush links">
                  {{!-- This is a placeholder for all interests --}}
                  <li class="list-group-item">Test Interest</li>
                  <li class="list-group-item">Test Interest</li>
                </ul>
              </div>

            </div>
          </div>
          {{!-- This is going to hold user interests --}}
          <ul class="list-group list-group-flush links">
            {{#each interests as |interest|}}
            <li class="list-group-item">{{interest.name}}</li>
            {{/each}}
          </ul>
        </div>
      </div>

    </div>
    <!-- this is the empty space -->
    <div class="col-md-4 col-sm-2">
    </div>
  </div>
    <i class="fas fa-cloud-upload-alt"> Make your user experience even richer by uploading a profile picture.</i>
      <button id="upload_widget" class="cloudinary-button">Upload your picture!</button>

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
  
    <script type="text/javascript">
  
      var myWidget = cloudinary.createUploadWidget({
        cloudName: 'superman123',
        upload_preset: 'n5mndyvl',
      }, (error, result) => {
        if (result.event == "success") {
          console.log(result.info) // result.info contains data from upload
        }
      })
  
      document.getElementById("upload_widget").addEventListener("click", function () {
        myWidget.open();
      }, false);
  
    </script>