<div class="card text-center">
  <div class="card-header">
    <h4>Your Profile</h4>
  </div>
  <div class="card-body">
    {{#if image_path}}
    <img class="user-image-large justify-content-center" src={{image_path}}> <br>
    {{else}}
    <img class="user-image-large justify-content-center" src="https://media.giphy.com/media/ZO8upuwNKfpm0/giphy.gif">
    <br>
    {{/if}}
    <div class="d-grid gap-2 d-md-block">
      {{!-- photo upload button --}}
      <button class="btn btn-success" id="upload_widget" value="{{userId}}" class="cloudinary-button">Upload a profile
        picture</button>
      {{!-- user interests modal button --}}
      <button type="button" id="modal-btn" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
        value="{{userId}}">Add
        interests</button>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="d-grid gap-2 col-3 mx-auto">
      <h5>{{first_name}} {{last_name}}'s Interests:</h5>
      {{#each interests as |interest|}}
      <button class="btn btn-primary">{{interest_name}}</button>
      {{/each}}
    </div>
  </div>
</div>

{{!-- user interests modal --}}
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add your interests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- interest buttons --}}
        {{#each global_interests as |global_interests|}}
        {{>interest-details}}
        {{/each}}
        <form class="interest-form">
          <div class="form-group">
            <input type="text" class="form-control" id="new-interest" aria-describedby="textHelp"
              placeholder="add an interest">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-block" id="new-interest-btn">Add Interest</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="./js/logout.js"></script>

{{!-- homepage.js interests button script --}}
<script src="./js/profile.js"></script>

{{!-- cloudinary image upload widget script --}}
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script type="text/javascript">
  const uID = document.querySelector('data-id');
  var myWidget = cloudinary.createUploadWidget({
    cloudName: 'superman123',
    upload_preset: 'n5mndyvl',
  }, (error, result) => {
    if (result.event === "success") {

      const newImagePath = "http://res.cloudinary.com/superman123/image/upload/" + result.info.path;

      const UID = document.querySelector('#upload_widget').getAttribute('value');

      const response = fetch(`/api/users/profile/${UID}`, {
        method: 'PUT',
        body: JSON.stringify({ newImagePath }),
        headers: { 'Content-Type': 'application/json' },
      });
      location.reload();
    }
  })

  document.getElementById("upload_widget").addEventListener("click", function () {
    myWidget.open();
  }, false);

</script>